/*INDEX*/
#backgroundLanding {
    background-image: linear-gradient(to right, rgb(4, 7, 63), rgb(89, 46, 100));
}

.landingTitle {
    text-align: center;
    margin-top: 10%;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 28, 28);
    text-shadow: 0px 5px 80px rgb(197, 0, 0);
    margin: 30% 5% 10% 5%;
}

.optionsLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
}

#linkLanding {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1%;
    border: solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: white;
    padding: 4%;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
}

#linkLanding:hover {
    background-image: linear-gradient(to right, rgb(221, 0, 40), rgb(255, 255, 255));
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 60%;
    font-weight: bold;
}

/*FIN INDEX*/

/*QUIZ*/

#backgroundQuiz {
    background-image: linear-gradient(to right, rgb(4, 7, 63), rgb(89, 46, 100));
}

main {
    margin: 10% 5%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    font-size: 300%;
    margin: 0 auto;
    text-align: center;
    font-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 28, 28);
    text-shadow: 0px 5px 80px rgb(197, 0, 0);
}

p {
    color: yellow;
    font-style: italic;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 10%;
    margin-right: 10%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12%;
    border: 0;
    padding: 10%;
    width: 90%;
    margin-top: 10%;
}

.respuestas {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3% 0%;
    border: solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: white;
    padding: 4%;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    
    font-weight: bolder;
    width: 100%;
}

label {
    cursor: pointer;
}

#respuestas:hover {
    background-image: linear-gradient(to right, rgb(221, 0, 40), rgb(255, 255, 255));
} 

input {
    appearance: none;
}

input:checked +label {
    color: rgb(0, 0, 0);
    text-shadow: 0px 2px 5px rgb(94, 94, 94);
    font-size: larger;
    font-style: italic;
}

button {
    padding: 5%;
    font-size: 150%;
    background-color: rgb(176, 241, 78);
    border: solid rgb(0, 0, 0);
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#marcador{
    color: white;
    font-size: xx-large;
}

@media screen and (min-width: 768px) and (max-width:1366px) {
    main {
        margin: 2% 1%;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12%;
        border: 0;
        padding: 10%;
        width: 100%;
        margin-top: 10%;
    }

    .landingTitle {
        text-align: center;
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(235, 28, 28);
        text-shadow: 0px 5px 80px rgb(197, 0, 0);
        margin: 5% 5% 1% 5%;
        
    }
}
@media screen and (min-width: 1366px) {
    .landingTitle {
        text-align: center;
        font-size: 150%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(235, 28, 28);
        text-shadow: 0px 5px 80px rgb(197, 0, 0);
        margin: 5% 5% 1% 5%;
        
    }
    
    .optionsLanding {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #linkLanding{
        padding: 2%;
    }

    main {
        margin: 5% 0%;
    }

    #preguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    
        margin-top: 0%;
        margin-right: 18%;
    }
    
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12%;
        border: 0;
        padding: 0%;
        width: 150%;
        margin-top: 0%;
    }
    
    #respuestas {
        font-size: 250%;  
    }
    }
   