/*INDEX*/
#backgroundLanding{
    background-image: linear-gradient(to right,  rgb(4, 7, 63), rgb(89, 46, 100));
}

.landingTitle{
    text-align: center;
    margin-top: 10%;
    font-size: 180%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(235, 28, 28);
    text-shadow: 0px 5px 80px rgb(197, 0, 0);
    margin: 30% 5% 10% 5%;
}

.optionsLanding{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
}

#linkLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 1%;
    border: solid black;
    border-radius: 50px;
    background-color: white;
    padding: 4%;
    width: 80%;
}

#linkLanding:hover{
    text-shadow: 5px 5px rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color:rgb(187, 9, 71);
    font-size: 65%;
    font-weight: bold;
}
/*FIN INDEX*/